@(loginForm: Form[Application.Login])

@import helper._

<!doctype html public>
<html>
<head>
    <title>Dokumenten Management System :: Login</title>
</head>
<body>

<h1>Sign in</h1>

@helper.form(routes.Application.authenticate()) {
@if(loginForm.hasGlobalErrors) {
<p class="error">
    <span style="color: red;">@loginForm.globalError.message</span>
</p>
}
@if(flash.contains("success")) {
<p class="success">
    <span style="color: green">@flash.get("success")</span>
</p>
}
<p>
    <input type="text" name="username" placeholder="Username" value="@loginForm("username").value">
</p>
<p>
    <input type="password" name="password" placeholder="Password">
</p>
<p>
    <button type="submit">Login</button>
</p>
}
</body>
</html>